
body{
    background-color: rgb(87, 8, 8);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li{
    font-size: 20px;
    line-height: 1.5;
}

p{
    font-size: 20px;
    line-height: 1.5;
    color: orangered;
}

a{
   color: black;
   text-decoration: none;
   font-size: 20px;
   margin-left: 400px;
}

a:hover{
    background-color: orangered;
    color: black;
    padding: 1%;
    margin-top: 2%;
}

tr{
    font-size: 20px;
    line-height: 1.5;
}

